.tabHBox {
    -fx-background-color: #333333;
    -fx-pref-width: 400px;
    -fx-pref-height: 80px;
}

.listHBox {
    -fx-background-color: #ffffff;
    -fx-pref-width: 400px;
    -fx-pref-height: 420px;
}

.CtrlHBox {
    -fx-background-color: #333333;
}

.tabButton {
	-fx-background-color: #333333;
	-fx-text-fill: #ffffff;
	-fx-font-family: "Letter Gothic Std";
	-fx-font-size: 10px;
	-transition-duration: 0.3s
}

.tabButton:hover {
	-fx-background-color: #666666;
}

.tabNavButton {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Letter Gothic Std";
    -fx-font-size: 11px;
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;

    -fx-border-color: #2a2a2a;
    -fx-border-width: 1 1 1 0;
    -fx-background-insets: 0;
}

.tabNavButton:hover {
	-fx-background-color: #666666;
}

.tabText {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Letter Gothic Std";
    -fx-font-size: 15px;
}

.tabSettings {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Letter Gothic Std";
    -fx-background-radius: 2em;
    -fx-font-size: 22px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.tabSettings:hover {
    -fx-background-color: #d3d3d3;
}

.NowPlayingText {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Letter Gothic Std";
    -fx-font-size: 12px;
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
}

.CurrentMusicTimeText {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Letter Gothic Std";
    -fx-font-size: 10px;
    -fx-pref-width: 80px;
    -fx-pref-height: 20px;
}

.CtrlPlayButton {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 0.9em;
    -fx-text-fill: #000000;
    -fx-font-size: 25px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.CtrlPlayButton:hover {
    -fx-background-color: #d3d3d3;

}
.CtrlNextPrevButton {
    -fx-background-color: #333333;
    -transition-duration: 0.5s;
    -fx-background-radius: 2em;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.CtrlNextPrevButton:hover {
    -fx-text-fill: #bababa;
}
.CtrlLoadButton {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}
.CtrlLoadButton:hover {
    -fx-background-color: #bbbbbb;
}

.CtrlSlider {
    -fx-pref-width: 400;
    -fx-pref-height: 10;
    -fx-background-color: transparent;

}
.CtrlSlider .track {
    -fx-control-inner-background: #333333;
}
.CtrlSlider .thumb {
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}